// theming
$green: #1ACD60;
$black: #222;
$CoolGray: #A2AEBE;
$LightGray: #EDEEF2;

*{
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased2 !important;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}