@font-face {
font-family: WorkSans;
font-weight: normal;
src: url("../../assets/fonts/WorkSans-Regular.otf") format("opentype");
}

@font-face { 
font-family: WorkSans;
font-weight: 900; 
src: url("../../assets/fonts/WorkSans-Black.otf") format("opentype");
}
@font-face { 
font-family: WorkSans;
font-weight: 100; 
src: url("../../assets/fonts/WorkSans-Hairline.otf") format("opentype");
}

@font-face {
font-family: WorkSans; 
font-weight: 200;
src: url("../../assets/fonts/WorkSans-Thin.otf") format("opentype");
} 
@font-face {
font-family: WorkSans;
font-weight: 300; 
src: url("../../assets/fonts/WorkSans-ExtraLight.otf") format("opentype");
}

@font-face {
font-family: WorkSans;
font-weight: 500;
src: url("../../assets/fonts/WorkSans-Medium.otf") format("opentype");
}

@font-face {
font-family: WorkSans;
font-weight: bold;
src: url("../../assets/fonts/WorkSans-Bold.otf") format("opentype");
}
@font-face {
font-family: WorkSans;
font-weight: 800;
src: url("../../assets/fonts/WorkSans-ExtraBold.otf") format("opentype");
}
@font-face {
font-family: ArbutusSlab;
font-weight: normal;
src: url("../../assets/fonts/ArbutusSlab-Regular.ttf") format("truetype");
}